<!doctype html>
<html lang="cs">
  <head>
    <title>{ifset title}{include title|striptags} | {/ifset}Psí Lokátor</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{$basePath}/css/bootstrap.css">
    <link rel="stylesheet" href="{$basePath}/css/style.css">
    <link rel="stylesheet" href="{$basePath}/css/font-awesome.css">
    
    {block head}{/block}
  </head>
  <body>
     
        <nav class="navbar navbar-default navbar-static-top navbar-custom">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand">PsíLokátor.cz</a>
                </div>
                
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>    
                            <button type="button" class="navBtn bubble red" data-toggle="modal" data-target="#addDogModal">Nahlásit ztrátu / nález</button>
                        </li>
                        <li class="bubble orange">
                            <a>Vytvořit účet</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
                <div n:foreach="$flashes as $flash" n:class="flash, alert, text-center, $flash->type, fade, in">
                    <strong>{$flash->message}</strong>
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                </div>
        <div id="addDogModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Přidat pejska</h4>
                </div>
                <div class="modal-body">
                    {snippet addDogModalWrapper}
                        {form addDogModalForm, role=>'form', class=>''}
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        {label regNr, class=>'control-label', /}
                                        {input regNr, class=>'form-control'}
                                    </div>
                                    <div class="form-group">
                                        {label name, class=>'control-label', /}
                                        {input name, class=>'form-control'}
                                    </div>
                                    <div class="form-group">
                                        {label sex_id, class=>'control-label', /}
                                        {input sex_id, class=>'form-control'}
                                    </div>
                                    <div class="form-group">
                                        {label breed, class=>'control-label', /}
                                        {input breed, class=>'form-control'}
                                    </div>
                                    <div class="form-group">
                                        {label breed2, class=>'control-label', /}
                                        {input breed2, class=>'form-control'}
                                    </div>
                                    <div class="form-group">
                                        {label state_id, class=>'control-label', /}
                                        {input state_id, class=>'form-control'}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        {label photo, class=>'control-label', /}
                                        <img src="{$basePath}/images/background.jpg" class="img img-responsive img-center img-rounded">
                                    </div>
                                    <div class="form-group" style="margin-top:20px;">
                                        <div class="input-group">
                                            <label class="input-group-btn">
                                                <span class="btn btn-primary">
                                                    Vybrat&hellip; {input photo class=>'hidden'}
                                                </span>
                                            </label>
                                            <input type="text" class="form-control" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {label contact, class=>'control-label', /}
                                        {input contact, class=>'form-control'}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        {input submit, class=>' btn btn-success pull-right'}
                                    </div>
                                </div>
                            </div>
                        {/form}
                    {/snippet}
                </div>
                <div class="modal-footer">
                    <span>Odesláním formuláře souhlasíte s <a>podmínkami serveru</a></span>
                </div>
              </div>
            </div>
          </div>
      {include content}

        <footer>
            &copy; 2017, PsíLokátor.cz
        </footer>
	{block scripts}
            <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
            <script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
            <script src="{$basePath}/js/nette.ajax.js"></script>
            <script src="{$basePath}/js/main.js"></script>
            <script src="{$basePath}/js/bootstrap.js"></script>
            
            <script type="text/javascript">
                $(function() {

                    // We can attach the `fileselect` event to all file inputs on the page
                    $(document).on('change', ':file', function() {
                      var input = $(this),
                          numFiles = input.get(0).files ? input.get(0).files.length : 1,
                          label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                      input.trigger('fileselect', [numFiles, label]);
                    });

                    // We can watch for our custom `fileselect` event like this
                    $(document).ready( function() {
                        $(':file').on('fileselect', function(event, numFiles, label) {

                            var input = $(this).parents('.input-group').find(':text'),
                                log = numFiles > 1 ? numFiles + ' files selected' : label;

                            if( input.length ) {
                                input.val(log);
                            } else {
                                if( log ) alert(log);
                            }

                        });
                    });

                });
            </script>
	{/block}
</body>
</html>
